.title {
    text-align: center;
    font-size: 36px;
    color: #0096d6;
}

.sub-title {
    text-align: left;
    font-size: 20px;
    color: #0096d6;
}

.background-blue {
    background-color: #0096d6 !important;
}

.button-blue {
    background-color: #0096d6 !important;
    color: white;
}

.button-gray {
    background-color: #8c8c8c !important;
    color: white;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.ui-state-default {
    background: #0096d6;
    color: white;
    font-weight: normal;
    text-shadow: none;
    border: 1px solid #a8a8a8;
    box-shadow: none;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-left-10 {
    margin-left: 10px;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td{
    padding: 8px 10px;
}

.ui-menubar {
    background: #0096d6 !important;
}

span.ui-menuitem-text {
    color: white;
}

.ui-menuitem {
    min-width: 10%;
}

.ui-menu {
    padding: 0em !important;
}
span {
    margin-right: 5px;
}